/* 
* {
    font-family: 'Montserrat', sans-serif;
}*/

.welcome-head {
     font-family: 'Montserrat', sans-serif; 
    font-weight: 600!important;
    font-size: medium;
    padding-top: 20px;
}

.container {
    /* background-color: rgb(246, 208, 84); */
    margin-top: 3%;
    padding-bottom: 10px;
}

.main {
    width: 100%;
    margin: 50px auto;
}

.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 50px;
}

/* .btn{
    margin-top: 20px;
    margin-left: 90%;

} */

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.main-card {
    padding: 20px;
    /* border-radius: 50px; */
    border-bottom-left-radius:50px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    min-height: 350px;
}

.nav-btn-name {
    font-weight: bold;
}

.tab-content{
    font-family: 'Montaga', serif;
}

/* .container-inside {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    align-items: flex-start;
} */

.cards {
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
  
  .cards:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.16), 0 4px 10px rgba(0,0,0,0.23);
  }

  .container-inside {
      columns: 1;
      /* column-gap: 0px; */
  }

  .container-inside .cards {
      break-inside: avoid;
      width: 16rem!important;
  }


@media (min-width: 576px) and (max-width: 768px) {

    .welcome-head {
        font-size: x-large;
    }

    .main {
        width: 75%;
    }

    .container-inside {
        columns: 1;
    }
  
    .container-inside .cards {
        break-inside: avoid;
        width: 26rem!important;
    }

}

@media (min-width: 769px) and (max-width: 992px) {

    .welcome-head {
        font-size: xx-large;
    }

    .main {
        width: 75%;
    }

    .container-inside {
        columns: 2;
    }
  
    .container-inside .cards {
        break-inside: avoid;
        width: 18rem!important;
    }

}

@media (min-width: 992px) and (max-width: 1200px) {

    .welcome-head {
        font-size: xx-large;
    }

    .main {
        width: 75%;
    }

    .container-inside {
        columns: 2;
    }
  
    .container-inside .cards {
        break-inside: avoid;
        width: 25rem!important;
    }

}

@media (min-width: 1201px){

    .welcome-head {
        font-size: xx-large;
    }

    .main {
        width: 75%;
    }

    .container-inside {
        columns: 3;
    }
  
    .container-inside .cards {
        break-inside: avoid;
        width: 20rem!important;
    }

}
